title {font-family: 'Courier New', Courier, monospace;}
h1 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h2 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

body {background-color: rgb(97, 201, 201);}