h1 {font-family:monospace}
h1 {font: size 200px;%}
{font-family:fantasy }
h2 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h2 {font-size: large;}

body {background-color: rgb(97, 201, 201);}

<img> {
}

