title {font-family: 'Courier New', Courier, monospace;}
h1 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h2 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

<img>="images/gears1.png"</img>

body {background-color:rgb(139, 224, 226)}